.btn{
    background-color: #E09900;
}
#SocialMediaFb{
    width: 20px;
}
#SocialMediaIg{
    width: 20px;
}
div{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
#buttons{
    margin-left: 42.5%;
    margin-top: 5%;
}
#logo{
    margin-bottom: 10%;
}